<form class='aoj-tasks-edit' name="taskEditForm" role="form" novalidate ng-controller="taskEditController">
	<h4>Tasks <small>Don't forget to save after editing.</small> </h4>
	<div class="aoj-tasks-edit aoj-subtask-edit" ng-repeat="subtask in problem.tasks">
		<h5>Subtask</h5>
		<div class="form-group row">
			<label for="score" class="col-md-4 col-form-label">Score:</label>
			<div class="col-md-8">
				<input class="form-control input-sm" type="number" min="1" name="score" ng-model="subtask.score" required>
			</div>
		</div>
		<div class="form-group row">
			<label for="timeLimit" class="col-md-4 col-form-label">Time Limit:</label>
			<div class="col-md-8">
				<input class="form-control input-sm" type="number" min="1" name="timeLimit" ng-model="subtask.timeLimit" required>
			</div>
		</div>
		<div class="form-group row">
			<label for="memoryLimit" class="col-md-4 col-form-label">Memory Limit:</label>
			<div class="col-md-8">
				<input class="form-control input-sm" type="number" min="0" name="memoryLimit" ng-model="subtask.memoryLimit" required>
			</div>
		</div>
		<div class="aoj-tasks-edit aoj-subtask-edit aoj-task-edit" ng-repeat="task in subtask.io">
			<div class="form-group row">
				<div ng-controller="UploadController" ng-init="type = 'input'">
					<div class="col-md-2">
						<label for="input" class="col-form-label">input:</label>
						<a href="/api/contest/[[contestCode]]/problem/[[problemCode]]/file/[[task.input]]">#</a>
					</div>
					<div class="col-md-6">
			        	<input type="file" name="input" nv-file-select uploader="uploader" ng-disabled="uploader.isUploading" ng-value="uploadFileValue"/>
					</div>
			        <div ng-repeat="item in uploader.queue" class="col-md-4">
			        	<div class="row">
			        		<div class="col-md-6">
					        	<button ng-click="item.upload()">upload</button>
			        		</div>
			        		<div class="col-md-4">
				                <div class="progress">
				                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				                </div>
			        		</div>
			        		<div class="col-md-1">
								<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
								<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
								<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
			        		</div>
			        	</div>
			        </div>
	    		</div>
			</div>
			<div class="form-group row">
				<div ng-controller="UploadController">
					<div class="col-md-2">
						<label for="output" class="col-form-label">output:</label>
						<a href="/api/contest/[[contestCode]]/problem/[[problemCode]]/file/[[task.output]]">#</a>
					</div>
					<div class="col-md-6">
			        	<input type="file" name="output" nv-file-select uploader="uploader" ng-disabled="uploader.isUploading" ng-value="uploadFileValue"/>
					</div>
			        <div ng-repeat="item in uploader.queue" class="col-md-4">
			        	<div class="row">
			        		<div class="col-md-6">
					        	<button ng-click="item.upload()">upload</button>
			        		</div>
			        		<div class="col-md-4">
				                <div class="progress">
				                    <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
				                </div>
			        		</div>
			        		<div class="col-md-1">
								<span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
								<span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
								<span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
			        		</div>
			        	</div>
			        </div>
	    		</div>
			</div>
		</div>
		<button class="btn btn-primary btn-sm aoj-button aoj-button-green" ng-click="addNewTask(subtask)">Add new task</button>
	</div>
	<button class="btn btn-primary btn-sm aoj-button aoj-button-green" ng-click="addNewSubtask(problem.tasks)">Add new subtask</button>
	<div class="row" style="margin: 10px">
        <button class="btn btn-primary btn-sm aoj-button aoj-button-laurel-green pull-right" name="updateProblemTasks" type="submit" ng-click="updateProblemTasksAction()" ng-disabled="updateProblemTasks.loading">Update Problem Tasks</button>
        <div class="loader pull-right" ng-show="updateProblemTasks.loading" style="padding-left: 10px"></div>
        <div class="pull-right"><span style="padding-left: 10px" ng-bind="updateProblemTasks.status"></span></div>
    </div>
</form>
