{{#contentFor 'page-req'}}
	<script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="/bower_components/angular-datatables/dist/angular-datatables.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bower_components/angular-datatables/dist/css/angular-datatables.min.css">
	<script src="/bower_components/angular-datatables/dist/plugins/bootstrap/angular-datatables.bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bower_components/angular-datatables/dist/plugins/bootstrap/datatables.bootstrap.min.css">
	{{!-- // <script src="/bower_components/angular-smart-table/dist/smart-table.min.js"></script> --}}
	<script src="/js/contest.js"></script>

{{/contentFor}}
<div ng-cloak ng-init="contest.contestCode='{{contestCode}}'">
	<div ng-controller="ContestController">
		<div>
			<ol class="breadcrumb">
			  <li class="breadcrumb-item">[[contest.contestCode]]</li>
			</ol>
		</div>
		<div class="container view-container">
			<div class="col-md-8 aoj-view-left-pane aoj-contest-problems-display">
				<table datatable="ng" class='row-border hover table table-hover'>
			        <thead>
				        <tr>
				        	<th>Code</th>
				            <th>Name</th>
				            <th>Score</th>
				            <th>Submissions</th>
				        </tr>
			        </thead>
			        <tbody>
				        <tr problem-info-display ng-repeat="problem in contest.problems" problem-code="problem.problemCode" contest-code="contest.contestCode" score-sum="scoreSum"> </tr>
			        </tbody>
			    </table>
			</div>
			<div class="col-md-3 col-md-offset-1 aoj-view-right-pane"></div>
		</div>
	</div>
</div>