{{#contentFor 'page-req'}}
	<script src="/bower_components/angular-route/angular-route.js"></script>
	<script type="text/javascript" src="/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
	<script type="text/javascript" src="/bower_components/angular-ui-ace/ui-ace.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/code-editor.css">
	<!-- <script src="/js/angular-fullscreen.js"></script> -->
	<script src="/bower_components/screenfull/dist/screenfull.js"></script>
	<script src="/bower_components/angular-screenfull/dist/angular-screenfull.min.js"></script>
	<script src="/js/problem.js"></script>
	<script src="/bower_components/ckeditor/ckeditor.js"></script>
	<script src="/bower_components/angular-file-upload/dist/angular-file-upload.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/loader.css">
{{/contentFor}}
<div ng-cloak ng-init="problem.problemCode='{{problemCode}}';contest.contestCode='{{contestCode}}'">
	<div ng-controller="ProblemController" id="temp">
		<div>
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/[[contest.contestCode]]">[[contest.contestName]]</a></li>
			  <li class="breadcrumb-item">[[problem.problemName]]</li>
			</ol>
		</div>
		<nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navbar1">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="#!problem" ng-class="{active: isActive('/problem')}">Problem</a></li>
				<li><a href="#!editorial" ng-class="{active: isActive('/editorial')}">Editorial</a></li>
				<li><a href="#!msubs" ng-class="{active: isActive('/msubs')}">My Submissions</a></li>
				<li><a href="#!asubs" ng-class="{active: isActive('/asubs')}">All Submissions</a></li>
				<li><a href="#!submit" ng-class="{active: isActive('/submit')}">Editor</a></li>
				<li><a href="#!problemEdit" ng-class="{active: isActive('/problemEdit')}">Edit problem</a></li>
            </ul>
          </div>
        </div>

		<div ng-view></div>
		<script type="text/ng-template" id="problem.htm">
			<div class="view-container">
				<div class="col-md-8 aoj-view-left-pane aoj-problemStmt" ng-bind-html="problem.problemStmt"></div>
				<div class="col-md-3 col-md-offset-1 aoj-view-right-pane"></div>
			</div>
		</script>

		<script type="text/ng-template" id="editorial.htm">
			<div class="view-container col-md-12">
				<h2> editorial </h2>	
			</div>
		</script>

		<script type="text/ng-template" id="msubs.htm">
			<div class="container view-container">
				<div class="col-md-11 aoj-view-left-pane aoj-submissions-list-display">
					<table  class='row-border hover table table-hover'>
				        <thead>
				        	<tr>
						        <th>Submission id</th>
					        	<th>Submitted</th>
					        	<th>Handle</th>
					            <th>Contest/Problem</th>
					            <th>Verdict</th>
					            <th>Score</th>
					            <th>Time</th>
					            <th>Memory</th>
					            <th>Lang</th>
					            <th>Solution</th>
					        </tr>
				        </thead>
				        <tbody>
					        <tr submission-list-display ng-repeat="submission in submissionsList" contest-code="submission.contestCode" problem-code="submission.problemCode" submission-id="submission.submissionId" session="session"> </tr>
				        </tbody>
				    </table>
				</div>
			</div>
		</script>

		<script type="text/ng-template" id="asubs.htm">
			<div class="container view-container">
				<div class="col-md-11 aoj-view-left-pane aoj-submissions-list-display">
					<table  class='row-border hover table table-hover'>
				        <thead>
				        	<tr>
						        <th>Submission id</th>
					        	<th>Submitted</th>
					        	<th>Handle</th>
					            <th>Contest/Problem</th>
					            <th>Verdict</th>
					            <th>Score</th>
					            <th>Time</th>
					            <th>Memory</th>
					            <th>Lang</th>
					            <th>Solution</th>
					        </tr>
				        </thead>
				        <tbody>
					        <tr submission-list-display ng-repeat="submission in submissionsList" contest-code="submission.contestCode" problem-code="submission.problemCode" submission-id="submission.submissionId" > </tr>
				        </tbody>
				    </table>
				</div>
			</div>
		</script>
		<script type="text/ng-template" id="submit.htm">
		<div class="container view-container aoj-code-editor col-md-10" ngsf-fullscreen>
			<div class="row">
				<div class="code-preference-bar">
					<div class="pull-left">
						<select data-ng-model="selectedLang" data-ng-options="option.name for option in langs track by option.langId"></select>
					</div>
					<div class="pull-right">
						<select data-ng-model="selectedTheme" data-ng-options="option.themeName for option in themeData track by option.id"></select>
						<button ngsf-toggle-fullscreen><i class="fa fa-expand" aria-hidden="true"></i></button>
						<button class="aoj-button btn-sm aoj-button-white" id="submit" ng-click="submit()">Submit</button>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="editor" ui-ace="{onLoad: aceLoaded}" ng-model="code"></div>
			</div>
		</div>
		</script>
		<script type="text/ng-template" id="problemEdit.htm">
		<div class="container view-container col-md-10">
			<br/>
			<div class="row">
				<div class="col-md-3">
					<input class='form-control' type="text" disabled ng-model="problem.problemCode">
				</div>
				<div class="col-md-3">
					<input class='form-control' type="text" disabled ng-model="contest.contestCode">
				</div>
			</div>
			<br/>
			<h4> Problem Statement </h4>
			<textarea name="problemEditor" id="problemEditor" rows="10" cols="80" ng-bind-html="problem.problemStmt">
                This is my textarea to be replaced with CKEditor.
            </textarea>
            <br/>
            <div class="row">
		        <button class="btn btn-primary btn-large aoj-button-green pull-left" name="updateProblemStmt" type="submit" ng-click="updateProblemStmtAction()" ng-disabled="updateProblemStmt.loading">Update Problem Statement</button>
		        <div class="loader pull-left" ng-show="updateProblemStmt.loading" style="padding-left: 10px"></div>
		        <div class="pull-left"><span style="padding-left: 10px" ng-bind="updateProblemStmt.status"></span></div>
            </div>
            <br/>
            <br/>
            {{> taskEdit}}
            <script>
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace( 'problemEditor' );
            </script>
		</div>
		</script>
	</div>
</div>