{{#contentFor 'page-req'}}
	<script src="/bower_components/prism.js"></script>
	<link rel="stylesheet" type="text/css" href="/bower_components/prism/themes/prism-tomorrow.css">
	
	<script src="/js/submission.js"></script>
	<script src="/js/code-highlight.js"></script>
	<script src="/bower_components/prism/plugins/line-numbers/prism-line-numbers.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/bower_components/prism/plugins/line-numbers/prism-line-numbers.css">
{{/contentFor}}
<div ng-cloak ng-init="problemCode='{{problemCode}}';contestCode='{{contestCode}}';submissionId='{{submissionId}}'">
	<div ng-controller="SubmissionController">
		<div>
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/contest/[[contestCode]]">[[contestCode]]</a></li>
			  <li class="breadcrumb-item"><a href="/contest/[[contestCode]]/problem/[[problemCode]]">[[problemCode]]</a></li>
			  <li class="breadcrumb-item">[[submissionId]]</li>
			</ol>
		</div>
		<div class="container view-container">
			<div class="col-md-10 aoj-view-left-pane aoj-solution-display parentScroll">
				<code-highlight source="submission.solution" type="lang.syntax_mode"></code-highlight>
			</div>
			<div class="col-md-2 col-md-offset-1 aoj-view-right-pane"></div>
		</div>
	</div>
</div>