html
{
    font-family: sans-serif;
    font-size: 10px;

    display: block;

    box-sizing: border-box;
}
body
{
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 18px;
    line-height: 1.4;

    color: #333;
    background-color: #fff;
}
select:-moz-focusring
{
    color: transparent;
    text-shadow: 0 0 0 #000;
}
::-webkit-scrollbar { 
    display: none; 
}
.parentScroll{
    overflow: hidden;
}
/** aoj-container */
#aoj-container
{
    position: relative;

    min-height: 100%;
}




/** aoj-header */

.aoj-user-nav
{
    padding-top: 22px;
    padding-right: 25px;
    padding-bottom: 22px;
}
.aoj-header__logo
{
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
.beta {
    font-size: 20px;
    color: #5A3300;
}
.navbar.navbar-default
{
    margin-top: 1px;

    border-color: transparent;
    background-color: transparent;
}
.navbar.navbar-default .navbar-nav
{
    font-size: 20px;
}
.navbar.navbar-default .navbar-nav li
{
    margin-left: 10px;
}
.navbar.navbar-default .navbar-nav li a
{
    margin: 5px;
    padding: 5px;

    opacity: .8;
    color: #42414c; /* changed */
    border-radius: 4px;
}
.navbar.navbar-default .navbar-nav li a:hover
{
    opacity: .6;
    color: #42414c;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.navbar.navbar-default .navbar-brand
{
    font-size: 20px;

    opacity: .8;
    color: #42414c;
    border-radius: 3px;
}
.navbar.navbar-default .navbar-brand:hover
{
    opacity: .6;
    color: #42414c;
}
.navbar.navbar-default .navbar-brand > img
{
    display: inline;
}
.navbar
{
    margin-top: 1px;
}
.navbar .navbar-nav
{
    font-size: 20px;
}
.navbar-right a
{
    font-size: 12px;
}
.navbar-left a
{
    font-size: 12px;
}
.navbar .navbar-nav li
{
    margin-left: 10px;
}
.navbar .navbar-nav li a
{
    border-radius: 4px;
}
.navbar .navbar-brand
{
    border-radius: 3px;
}
.navbar-default
{
    border-color: transparent;
    background-color: transparent;
}
.active
{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}




/** aoj-body */
.aoj-body
{
    margin-top: 35px;
    padding: 20px;

    word-wrap: break-word;

    border: 1px solid #e5e5e5;
    border-radius: 4px;
}

/* footer css starts */
.aoj-footer
{
    font-size: 16px;

    overflow: hidden;

    width: 100%;

    color: white;
    background-color: rgba(66, 65, 76, 0.8);
}
.aoj-footer__menu_right,
.aoj-footer__menu_left
{
    display: flex;
    flex-direction: row;

    height: 100%;
    padding: 0;

    color: #9da0a7;

    justify-content: space-around;
    align-items: center;
}
.aoj-footer__menu_left
{
    float: left;
}
.aoj-footer__menu_right
{
    float: right;
}
.aoj-footer__menu-item
{
    padding-right: 10px;
    padding-left: 10px;
}
@media (max-width:599px)
{
    .aoj-footer__menu_right
    {
        float: left;
    }
}
.icon-footer
{
    width: 40px;
    height: 40px;
    margin-right: 7px;
}
.icpc-icon-footer
{
    width: 100px;
    height: 70px;
    margin-right: 7px;
}
.link-footer
{
    text-decoration: none;

    color: #9da0a7;
}
.link-footer:hover,
.link-footer:focus
{
    text-decoration: none;

    color: #fff;
}
/** footer css ends */


/** aoj tools */
.full-height
{
    height: 100%;
}


/** aoj buttons */

.aoj-button-green
{
    color: #fff;
    border-color: rgba(67,169,67,.5);
    background-color: #43a943;
}
.aoj-button-green-inverse
{
    color: rgba(24,101,33,.8);
    border-color: rgba(12,52,17,.8);
    background-color: rgba(247,247,247,.07);
}
.aoj-button-white
{
    color: rgba(0,0,0,.6);
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 4px;
    background-color: rgba(255,255,255,.07);
}
.aoj-button-orange
{
    color: #fff;
    border-color: rgba(234,136,62,.5);
    background-color: #ea883e;
}
.aoj-button-laurel-green
{
    color: #fff;
    border-color: #A9BA9D;
    background-color: #A9BA9D;
}
/** aoj centering tools */
.aoj-text-align-center
{
    text-align: center;
}
.aoj-block
{
    display: flex;
}
.aoj-block-dir-vert
{
    flex-direction: column;
}
.aoj-block-dir-hoirz
{
    flex-direction: row;
}
.aoj-block-align-horiz-center
{
    justify-content: center;
}
.aoj-block-align-vert-center
{
    align-items: center;
}


.aoj-view-left-pane,
.aoj-view-right-pane
{
    padding: 10px;
}
.aoj-problemStmt
{
    font-size: 14px;

    padding: 10px;
}
.aoj-contest-problems-display{
    font-size: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
}
.aoj-solution-display{
    overflow: scroll;
    background-color: white;
    max-height: 1300px;
    word-wrap: normal;
}
.aoj-solution-display pre{
    word-wrap: normal;
    background-color: white;
}

.aoj-submissions-list-display{
    font-size: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;   
}
.aoj-submission-bar-id{
    text-align: justify;
}
.aoj-tasks-edit{
    padding: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 10px;
}
.aoj-subtask-edit{
    margin: 7px;
}
.aoj-task-edit{
    
}